:root {
	--accent: #20232A;
    --primary: #5ccceb;
    --secondary: #282C34;
    --text-primary: #E6E6E6;
    --text-secondary: #8892B0;
}

.sideBar {
   position: sticky;
   top: 0;
   height: 100vh;
   grid-area: sidebar;
   background-color: var(--secondary);
   color: var(--text-primary);
   width: 180px;
}
.minBar {
   height: 11%;
   border-bottom: 1px solid #fff;
   display: flex;
   align-items: center ;
   justify-content: space-between;
   padding: 1rem;
}
.heading {
   font-size: 1.2rem;
   display: block;
}
.main {
   height: 89%;
}
.media {
   display: flex;
   align-items: center;
   padding: 1rem;
   gap: 1rem;

}
.media-content {
   font-size: 1.3rem;
   display: block;
   cursor: pointer;
}
.mediaIcon {
   cursor: pointer;
}
.toggled.sideBar {
   width: 5rem;
}

.toggled .media-content {
   display: none;
}
.toggled .heading {
   display: none;
}
.toggled .minBar, .toggled .media {
   justify-content: center;
}

.btn {
   cursor: pointer;
}
.isToggled {
   background-color: #ffffff;
   color: var(--secondary);
   box-shadow: 0 2px #f4f4f5;
}
.isToggled .minBar {
   position: relative;
   border-bottom: 1px solid;
}
.isToggled .minBar::before {
   content: "";
   position: absolute;
   right: 0;
   bottom: 0;
   display: inline-block;
   background-color: #000000;
   height: 100%;
   width: 1px;
   transform: scaleY(.4);
   transform-origin: bottom;
   transition: all .5s;
}

.isToggled .minBar:hover:before {
   transform: scaleY(.7);
}