
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
	--accent: #20232A;
    --primary: #5ccceb;
    --secondary: #282C34;
    --text-primary: #E6E6E6;
    --text-secondary: #8892B0;
}
.grid {
   min-height: 100vh;
   background-color: var(--accent);
   display: grid;
   grid-template-columns: auto 1fr;
   grid-template-rows: auto 1fr auto;
   grid-template-areas: 
   "sidebar nav" 
   "sidebar main"
   "footer footer";
   color: var(--text-primary);
}
.side-bar {
   max-height: 100vh;
   background-color: var(--secondary);
   grid-area: sidebar;
   position: sticky;
   top: 0;
}
.nav-bar {
   background-color: var(--secondary);
   grid-area: nav;
   position: sticky;
   top: 0;
   z-index: 1;
}
.main {
   grid-area: main;
   z-index: 0;
   border-radius: 5px;
   box-shadow: 1px 1px 1px #464b54 inset;
}
.footer {
   background-color: var(--secondary);
   grid-area: footer;
   position: sticky;
   bottom: 0;
   text-align: center;
}

.main ,  .nav-bar, .footer {
   padding: 1rem .5rem;
}