.grid {
   width: 100%;
   max-width: 768%;
   min-height: 100vh;
   display: grid;
   grid-template-columns: max-content 1fr;
   grid-template-areas: 
   "sidebar navbar"
   "sidebar main"
   "sidebar main"
   ;
   grid-template-rows: auto 1fr;
   
}